<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Atualizar</title>
    </head>
    <body>
        <h1 align="center">Página de Atualização</h1>
        <hr>
        <div align="center">
            <form action="" method="post">
                <label>Informe seu nome:</label><br>
                <input type="text" name="nome" value="{{ pessoa.nome }}"><br>
                <label>Informe seu telefone:</label><br>
                <input type="text" name="telefone" value="{{ pessoa.telefone }}"><br>
                <label>Informe seu email:</label><br>
                <input type="text" name="email" value="{{ pessoa.email}}"><br>
                <hr>
                <input type="submit" value="Atualizar">
            </form>
            <button><a href="/index">Voltar</a></button>
        </div>
    </body>
</html>