<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Cadastro</title>
    </head>
    <body>
        <h1 align="center">Página de Cadastro</h1>
        <hr>
        <div align="center">
            <form action="/cadastro" method="post">
                <label>Informe seu nome:</label><br>
                <input type="text" name="nome"><br>
                <label>Informe seu telefone:</label><br>
                <input type="text" name="telefone"><br>
                <label>Informe seu cpf:</label><br>
                <input type="text" name="cpf"><br>
                <label>Informe seu email:</label><br>
                <input type="text" name="email"><br>
                <hr>
                <input type="submit" value="Cadastrar">
            </form>
            <button><a href="/index">Voltar</a></button>
        </div>
    </body>
</html>